.sticky-footer {
  display: flex;
  flex-direction: row;
  padding: 20px;
  background-color: #000000;
}

.left-section-footer {
  flex: 2;
}

.dark-logo {
  width: 150px; /* Możesz dostosować rozmiar */
}

.content-footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
}

.all-right,
.happy-coding {
  font-size: 14px;
  color: #ffffff;
  margin-top: 20px;
}

@media (min-width: 550px) {
  .content-footer {
  flex-direction: row;
}
}

.happy-coding:hover {
  text-decoration: underline;
}


.right-section {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  flex-direction: row;
  align-items: flex-start;
}


.icons {
  size: 30;
  color: orange;
  align-items: flex-start;
}

.icon {
  transition: transform 0.3s ease;
  margin-right: 20px;
}

.icon:hover {
  transform: scale(1.3);
}