.sticky-footer {
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
}

.content-footer {
  text-align: center;
  font-size: 14px;
  width: 100%;
}

.footer-top {
  display: flex;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (min-width: 800px) {
  .footer-bottom {
    flex-direction: row;
  }
}

.happy-coding:hover {
  text-decoration: underline;
}

.icons {
  margin-left: auto;
  color: #ff9800;
  align-items: flex-start;
}

.icon {
  transition: transform 0.3s ease;
  margin-right: 20px;
}

.icon:hover {
  transform: scale(1.3);
}
