.dark-logo{
    width: 300px;
    margin-left: 50px;
}

footer {
    background-color: black;
    color: white;
    margin-top: 20px;
  }

.all-right {
    margin-left: 50px;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    list-style: none;
    gap: 1rem;

}

.happy-coding {
margin-right: 50px;
}