.contener-first-visit {
    margin: 120px;
}

.title-first-visit {
    margin-bottom: 50px;
}

.text-first-visit-one {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.line {
    width: 50%;
    margin-bottom: 20px;
}
