.nav-overlay {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3); /* Lekki cień */
  backdrop-filter: blur(5px); /* Efekt rozmycia */
  z-index: 1000;
  padding: 10px 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center; /* Logo na środku */
  position: relative;
  padding: 0 20px;
}

.nav-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
  gap: 30px; /* Odstępy między elementami */
}

.nav-left {
  margin-right: auto; /* Wypycha elementy na lewo */
}

.nav-right {
  margin-left: auto; /* Wypycha elementy na prawo */
}

.center-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
}

.hamburger {
  position: absolute;
  left: 15px;
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.main-image {
  width: 100%;
  height: auto;
  display: block;
}
