.image {
    position: relative;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 150vh;
    width: 100vh;
    opacity: 0.33;
    
}

.content .img-text {
    /* text-transform: capitalize; */
    color: rgb(0, 0, 0);
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: 10px;
    text-align: center;
}