.tiles-section {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center; /* Wyrównuje kafelki w poziomie */
  align-items: center;     /* Wyrównuje kafelki w pionie */
  width: 100%;             /* Zapewnia, że kontener zajmuje całą dostępną szerokość */
  height: 50%; 
         
}
  



 
