.img {
    height: 400px; 
    width: 600px; 
    float: right;
    margin-top: 50px; 
    margin-right: 100px;
    margin-left: 50px;
}

.welcome {
    font-size: 190%;
    margin-left: 80px;
    margin-top: 80px;
    padding-right: 50px;
    margin-right: 140vh;
    text-align: center;
}

.text-welcom {
    text-align: center;
    margin-left: 140px;
    margin-right: 160vh;
}

.foto1 {
    height: 150px;
    width: 250px;
    margin-left: 130px;
    margin-top: 50px;
}

.First-visit {
    font-size: 150%;
    margin-left: 700px;
    margin-right: 250px;
}

.visit-text {
    margin-left: 500px;
    text-align: center;
    justify-content:flex-end;
}