/* GŁÓWNY KONTAINER */
.Information {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  padding: 30px;
  margin: 50px auto;
  max-width: 100%;
}

/* Lewa sekcja (Olkusz + kontakt + tabela) */
.left-section {
  /* flex: 1; */
  text-align: center;
  padding-right: 20px;
}

.right-section-table {
  flex: 1;
  max-width: 30%;
}

.city {
  margin-bottom: 15px;
  font-size: 2rem;
  font-weight: bold;
  color: orange;
  text-transform: uppercase;
  display: block;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.contact-item .icon {
  font-size: 1.7rem;
  color: #555;
}

/* TABELA */
.schedule-table {
  width: 100%;
  margin-top: 20px;
  font-size: 1rem;
  background-color: #ffffff;
  padding: 20px;
  border-collapse: collapse;
}

.schedule-table th, .schedule-table td {
  padding: 12px;
  text-align: center;
  font-size: 1rem;
  color: #000;
  border-bottom: 1px solid #ddd;
}

.schedule-table th {
  background: #f8f8f8;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

.schedule-table tr:last-child td {
  border-bottom: none;
}

/* RESPONSYWNOŚĆ */
@media (min-width: 768px) {
  .Information {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 40px;
  }

  .left-section {
    margin-bottom: 0;
  }

  .city {
    font-size: 1.8rem;
  }
}
