.appointment {
    margin: 120px 120px 50px 120px;
}


.line-third {
    width: 50%;
    margin-bottom: 20px;
    margin-left: 120px;
}

.table, th, td {
     margin: 20px 0px 50px; 
}

 .table {   
    background: lightgray;  
    padding: 50px 0px 100px 200px;
} 


.th-place {
    padding-bottom: 50px;
    text-align: left;
}

.td-calle {
    padding-right: 300px;
}

.td-number {
    padding-top: 20px;
}

.td-calle {
    padding-bottom: 20px;
}
