.form-container {
  background-color: #ffffff; /* Jasno szare tło formularza */
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Cień ramki */
  padding: 20px;
  max-width: 400px;
  margin: 20px 120px;
  display: flex;
  flex-direction: column;/* Ustawienie elementów w kolumnie */
  align-items: center; /* Wyśrodkowanie zawartości w poziomie */
  flex: 1; /* Formularz będzie zajmował drugą połowę przestrzeni */
 }

.form-group {
  width: 100%; /* Rozciągnięcie pól na pełną szerokość kontenera */
  display: flex;
  flex-direction: column; /* Ustawienie etykiety nad polem */
  margin-bottom: 15px; /* Odstęp między grupami */
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9; /* Delikatne tło dla inputów */
  width: 100%; /* Pełna szerokość pól */
  box-sizing: border-box; /* Uwzględnienie paddingu w szerokości */
  font-family: 'Times New Roman', sans-serif; /* Explicit font family */
  font-weight: 400; /* Regular weight */
  letter-spacing: 0.5px; /* Improve readability */
}

.form-group input:focus,
.form-group textarea:focus {
  border-color: #ff9800; /* Pomarańczowa obwódka na focus */
  outline: none;
}

.form-group input::placeholder,
.form-group textarea::placeholder {
  color: #999; /* Default placeholder color */
  font-style: italic; /* Make it look like a hint */
  font-size: 16px; /* Adjust font size */
  font-family: 'Times New Roman', sans-serif; /* Explicit font family */
  font-weight: 400; /* Regular weight */
  letter-spacing: 0.5px; /* Improve readability */
}

.submit-btn {
  background-color: #ff9800; /* Pomarańczowy kolor przycisku */
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px; /* Odstęp od ostatniego pola */
  align-self: center; /* Wyśrodkowanie przycisku */
}

.submit-btn:hover {
  background-color: #e68a00; /* Ciemniejszy pomarańcz na hover */
}

.container {
  display: flex;
  justify-content: center; /* Wyrównanie zawartości kontenera w poziomie */
  align-items: center;     /* Wyrównanie zawartości kontenera w pionie */
  gap: 20px;               /* Odstęp między formularzem a zdjęciem */
}

.form-image {
  width: 300px;
  height: 400px;
  object-fit: cover; /* Wypełnia przestrzeń zdjęcia, zachowując proporcje */
  border-radius: 8px; /* Zaokrąglenie rogów zdjęcia */
  flex: 1; /* Ustala, że zdjęcie będzie miało połowę dostępnej przestrzeni */
  max-width: 300px; /* Maksymalna szerokość zdjęcia */
}

.container-header {
margin-left: 120px;
}
