body {
    margin: 0;
    padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  header {
  
    color: #000000;
    padding: 20px;
  }
  
  main {
    flex: 1;
    padding: 20px;
  }
  
  footer {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }